<%- include('layout/header.ejs'); %>

<div class="dashboard">
  <div class="row">
    <div class="column">
      <div class="card1">
        <a href="/users">
          <h3><i class="fas fa-users"></i> Users</h3>
          <p><%= userCount %></p>
        </a>
      </div>
    </div>

    <div class="column">
      <div class="card2">
        <a href="/contactUs">
          <h3><i class="fas fa-envelope"></i> Contact Us</h3>
          <p><%= contactCount %></p>
        </a>
      </div>
    </div>

    <div class="column">
      <div class="card3">
        <a href="/product">
          <h3><i class="fas fa-question-circle"></i> Product</h3>
          <p><%= productCount %></p>
        </a>
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer.ejs'); %>
